body{
  color: #222;
}
main{
  padding: 10px;
  max-width: 500px;
  margin:0 auto;
}

header{
  display: flex; 
  /* for having content in the same line for header */
  justify-content: space-between;
  /* for adding space between the header logo and login and register */
}
/* Now we are calling the a tag which is used in header */
header a{ 
  text-decoration: none;
  /* for removing the underline from the header anchor tags */
  color: inherit;
}
/* calling the logo part of header */
header a.logo{
  font-weight: bold;
}
/* calling the navbar part of the header */
header nav{
  display: flex;
  gap: 15px;
}